# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.GameOfWar.iml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Homework\Sixth Form\Year 12\Comp Sci\Programming\OOP\GameOfWar\.idea\.idea.GameOfWar\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
